<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


@model IEnumerable<WebAppTest1.Models.Student>


<h2 class="text-center" >Student List{@ViewBag.Title ,@ViewBag.MyName}</h2>

<br />

<a asp-action="Add">
    <i class="bi bi-person-fill-add align-content-center"></i> Add Student
</a>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Fees</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Fees</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-action="GetById" asp-route-id="@item.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
